*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: calc(100% - 80px);
    margin:auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
}

.justify-center {

    justify-content: center;
}

.btn{
    background-color: transparent;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;


}

.btn-primary{
    background-color:#0044d4d4 ;
    color: #ddd;
}



.btn-danger{
    background-color: red;
    color: #ddd;
}


.text-dangar{
    color: red;
}


.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0,0.3);
    
}


.d-none{
    display: none;
}


.loader {
    width: 80px;
    aspect-ratio: 1;
    display: grid;
    color: #0044d4d4;

    background: radial-gradient(circle 16px,currentColor 94%,#0000);
    -webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
    animation: l10 1.5s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    background: 
      radial-gradient(farthest-side at bottom right,currentColor 94%,#0000) top    right, 
      radial-gradient(farthest-side at top    left ,currentColor 94%,#0000) bottom left;
    background-size: 40% 45%;
    background-repeat: no-repeat;
    -webkit-mask: 
      radial-gradient(60% 100% at bottom right,#0000 94%,#000) top    right, 
      radial-gradient(60% 100% at top    left ,#0000 94%,#000) bottom left;
    -webkit-mask-size: 40% 45%;
    -webkit-mask-repeat: no-repeat;
  }
  .loader:after {
    transform: rotate(90deg);
  }
  @keyframes l10 { 
    100%{transform: rotate(1turn)}

    
  }




.header{
    background-color: #0044d4d4;
    padding:15px 0;
}
.header a {
    color: #fff;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.gap-10{
    gap:10px;
}
.users{
    background-color: #f9f9f9;
    padding:30px 0;
}

.users table{
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    text-align: center;
}
.users thead{
    background-color: #0044d4d4;
}
.users td {
    border-bottom: 1px solid #ddd;
    padding:12px 20px;
}
.users th {
    border-bottom: 1px solid #ddd;
    padding:12px 20px;
}

.users tbody tr:hover {
    background-color:#f1f1f1 ;
}